<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head.html :: head">
</head>

<body class="index-page bg-gray-200">

  <!-- ======= Header ======= -->
  <header th:replace="/fragments/header.html :: header">
  </header><!-- End Header -->

  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('./assets/img/bg2.jpg')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Bienvenue au MediServe</h1>
            <p class="lead text-white mt-3">Votre santé, notre engagement<br/>  </p>
            <button type="button"  class="btn btn-success w-auto me-1 mb-0">Prendre un rendez-vous</button>

          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-success"><span id="state1" countTo="60">0</span>+</h1>
                  <h5 class="mt-3">Rendez-vous </h5>
                  <p class="text-sm font-weight-normal">par jour</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-success"> <span id="state2" countTo=12>0</span>+</h1>
                  <h5 class="mt-3">Médecins </h5>
                  <p class="text-sm font-weight-normal">disponibles</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-success" id="state3" countTo="4">0</h1>
                  <h5 class="mt-3">Patients </h5>
                  <p class="text-sm font-weight-normal"> actuellement en attente</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate card-background card-background-mask-success shadow-success mt-md-0 mt-5">
              <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                <div class="card-body py-7 text-center">
                  <i class="material-icons text-white text-4xl my-3">touch_app</i>
                  <h3 class="text-white">MediServe <br /> Consultations médicales</h3>
                  <p class="text-white opacity-8">Nous sommes honorés de pouvoir accompagner nos patients dans leur parcours de santé. Chez MediServe, votre bien-être est notre priorité absolue.</p>
                </div>
              </div>
              <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
                <div class="card-body pt-7 text-center">
                  <h3 class="text-white">Consultations médicales</h3>
                  <p class="text-white opacity-8"> Nous sommes honorés de pouvoir accompagner nos patients dans leur parcours de santé. Chez MediServe, votre bien-être est notre priorité absolue.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ms-auto">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-gradient text-success text-3xl">content_copy</i>
                <h5 class="font-weight-bolder mt-3">Excellence Médicale</h5>
                <p class="pe-5">Nous nous engageons à offrir des soins de qualité et à rester à la pointe des avancées médicales.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-gradient text-success text-3xl">flip_to_front</i>
                <h5 class="font-weight-bolder mt-3">Approche Personnalisée</h5>
                <p class="pe-3"> Chaque patient est unique. Nous adaptons nos traitements pour répondre à vos besoins spécifiques</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-5">
            <div class="col-md-6 mt-3">
              <i class="material-icons text-gradient text-success text-3xl">price_change</i>
              <h5 class="font-weight-bolder mt-3">Accessibilité et Confort</h5>
              <p class="pe-5">Nous visons à rendre les soins de santé accessibles et confortables pour tous nos patients</p>
            </div>
            <div class="col-md-6 mt-3">
              <div class="info">
                <i class="material-icons text-gradient text-success text-3xl">devices</i>
                <h5 class="font-weight-bolder mt-3">Consultations Médicales</h5>
                <p class="pe-3">Nos médecins expérimentés proposent des consultations pour différentes spécialités médicales, allant de la médecine générale à des spécialités plus spécifiques</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>

<div th:replace="/fragments/script.html :: script"></div>

    <div th:replace="/fragments/footer.html :: footer"></div>

</body>

</html>